<div class="container">
  <header class="jumbotron">
    <h1 class="display-3"><strong>{{currentUser.name}}</strong>, witaj!</h1>
  </header>
  <a class="btn btn-link log-out" (click)="logOut()">LogOut</a>
  <a [routerLink]="['/note']" class="btn btn-link">Dodaj notatkę</a>
</div>


