<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

      <form name="form-signin" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong>Error: </strong> {{errorMessage}}
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
    <label for="name">Full Name</label>
    <input type="text" class="form-control input-text-custom" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required />
    <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required.</div>
  </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Username</label>
        <input type="text" class="form-control input-text-custom" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required />
        <div *ngIf="f.submitted && !username.valid" class="help-block">An valid username is required.</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control input-text-custom" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
        <app-password [passwordToCheck]="user.password" [barLabel]="barLabel">
        </app-password>

        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required.</div>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin form-submit-button" type="submit">Sign Up</button>
    </form><!-- /form -->
      <a [routerLink]="['/login']" class="btn btn-link">I have Account!</a>
  </div><!-- /card-container -->
</div><!-- /container -->
