<div class="container">
  <header class="jumbotron">
    <h1 class="display-3"><strong>{{currentUser.name}}</strong>, oto Twoje notatki</h1>
  </header>

<div class="container2" >
  <div class="material-table" *ngIf="dataSource">
    <h2>Twoje notatki</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
          <td mat-cell *matCellDef="let element">
            {{element.text}}
          </td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell *matCellDef="let element">
            {{element.owner}}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{element.status}}
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">
            {{element.note_id}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>


<div class="container2">
  <div class="material-table" *ngIf="publicDataSource">
    <h2>Notatki publiczne</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="publicDataSource" matSort>
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
          <td mat-cell *matCellDef="let element">
            {{element.text}}
          </td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell *matCellDef="let element">
            {{element.owner}}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{element.status}}
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">
            {{element.note_id}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>


<div class="container2">
  <div class="material-table" *ngIf="sentDataSource">
    <h2> Wysłane do mnie </h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="sentDataSource" matSort>
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
          <td mat-cell *matCellDef="let element">
            {{element.text}}
          </td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell *matCellDef="let element">
            {{element.owner}}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{element.status}}
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">
            {{element.note_id}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

  <body>
<div class="card card-container">
  <h2>Wyślij komuś notatke</h2>
  <form name="form-sendNote" (ngSubmit)="sendNote()" #f="ngForm" novalidate>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="form-group">
      <label for="text">Tekst notatki</label>
      <input type="text" class="form-control input-text-custom" id="text" name="text" [(ngModel)]="noteWrapper.text" #text="ngModel" required />
    </div>
    <div class="form-group">
      <label for="accessed">Adresat</label>
      <input type="text" class="form-control input-accessed-custom" id="accessed" name="accessed" [(ngModel)]="noteWrapper.accessed" #accessed="ngModel" />
    </div>
    <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block btn-sendNote form-submit-button">
    <input type="reset" value="Reset">
  </form>
</div>

  <div class="card card-container">
    <h2>Wstaw notatkę</h2>
    <form name="form-addNote" (ngSubmit)="addNote()" #f="ngForm" novalidate>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="form-group">
      <label for="text">Tekst notatki</label>
      <input type="text" class="form-control input-text-custom" id="text" name="text" [(ngModel)]="note.text" #text="ngModel" required />
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <input type="status" class="form-control input-status-custom" id="status" name="text" [(ngModel)]="note.status" #status="ngModel" required />
    </div>
    <div class="form-group">
      <label for="key">Klucz</label>
      <input type="text" class="form-control input-key-custom" id="key" name="key" [(ngModel)]="note.key" #key="ngModel" required/>
    </div>
    <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block btn-addNote form-submit-button">
    <input type="reset" value="Reset">
    </form>
  </div>


    <div class="card card-container">
      <h2>Odszyfruj notatke</h2>
      <form name="form-sendNote" (ngSubmit)="decryptNote()" #f="ngForm" novalidate>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="form-group">
          <label for="text">Klucz</label>
          <input type="text" class="form-control input-key-custom" id="key" name="key" [(ngModel)]="decryptWrapper.key" #key="ngModel" required />
        </div>
        <div class="form-group">
          <label for="text">Id notatki</label>
          <input type="text" class="form-control input-note_id-custom" id="note_id" name="note_id" [(ngModel)]="decryptWrapper.note_id" #note_id="ngModel" />
        </div>
        <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block btn-decryptNote form-submit-button">
        <input type="reset" value="Reset">
      </form>
      <p>  Odszyfrowana treść : {{decryptedText}}</p>]
    </div>
  </body>
</div>








